---js
{
  layout: "core/base.layout.njk",
  permalink: function({ page, app }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    const isRoot = url === "";
    if (isRoot) return "/";

    const pathPrefix = app.notes.pathPrefix.replace(/^\/|\/$/, '');
    return `/${[pathPrefix, url].filter(Boolean).join('/')}/`;
  }
}
---

<div class="page" data-pagefind-body>
  <main class="page__main" id="app-content" >
    <article>
      <h1 class="page__title">{{ headline or title or page.fileSlug }}</h1>
      <div class="article">
        {{ content | safe }}
      </div>

      <footer class="note-footer">
        {% set noteTitle = headline or title or page.fileSlug %}
        <p>Thanks for reading.</p>
        <nav aria-label="Note footer">
          <a href="/">Home</a>
          <a href="/n/now/">My "Now Page"</a>
          <a href="mailto:will@kestrelcreek.com?subject={{ noteTitle | urlencode }}">If you want to start a conversation with me, send me a note.</a>
        </nav>
      </footer>
    </article>
  </main>

  {% if panel %}
  <div class="page__panel">
    {% include 'modules/notes/notes-panel.partial.njk' %}
  </div>
  {% endif%}
</div>
